h1 {
    color: black;
    text-align: center;

}

.nav-bar {
    height: 20%;
    background-color: rgba(0, 0, 0, 0.10);
}


.logo img{
    height: 100%;
    margin: 0 auto;
    display: block;

}



/***************** PROBATE FORM ************/
.probate-form{
    font-family: 'Open Sans Condensed', arial, sans;
    padding: 30px;
    margin: 50px auto;
    background-color: rgba(40, 10, 255, 0.25);
    position: relative;
    height: 90%;
    width: 50%;
    margin: 0 auto;
    /*overflow: hidden;*/
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.probate-form h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 26px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
    text-align: center;
}


.probate-form input[type="text"],
.probate-form input[type="date"],
.probate-form input[type="datetime"],
.probate-form input[type="email"],
.probate-form input[type="number"],
.probate-form input[type="search"],
.probate-form input[type="time"],
.probate-form input[type="url"],
.probate-form input[type="password"],
.probate-form textarea,
.probate-form select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}

.probate-form input[type="button"], 
.probate-form input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    left: 38%;
    margin-top: 2%;
}
.probate-form input[type="button"]:hover, 
.probate-form input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}

input[type='date']:after {
  content: attr(placeholder);
  left: 50%;
  color: #909;;
}

input[type='text']:before {
  content: attr(placeholder);
  left: 50%;
  color: black;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
    text-align: right;
    opacity: 1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #909;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #909;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #909;
   opacity: 1;
}

.placeholder::after
{
    position: absolute;
    left: -50px;
    top: 3px;
    content: attr(placeholder);
    pointer-events: none;
    opacity: 1;
}

.test::after
{
    position: absolute;
    left: 40px;
    top: 5px;
    content: attr(placeholder);
    pointer-events: none;
    opacity: 1;
    z-index: 1;
}

input.active:after {
  left: -2.8em;
  color: #888;
  content: attr(data-placeholder);

  position: absolute;
}


/********************* CALENDAR *********************/

.calendar-outer {
    font-family: 'Open Sans Condensed', arial, sans;
    padding: 30px;
    margin: 50px auto;
    position: relative;
    height: 90%;
    width: 50%;
    margin: 0 auto;
    /*overflow: hidden;*/
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}

.calendar-outer h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 26px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
    text-align: center;
}

.calendar-inner {
    top: 10%;
    bottom: 10%;
    height: 100%;
    width: 100%;
}
/* Month header */
.month {
    width: 100%;
    height: 20%;
    background: #1abc9c;
    position: relative;
    /*right: 5%;
    bottom: 6%;*/
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

/**************** PROBATE PROGRESS ***************/



.probate-progress-outer {
    font-family: 'Open Sans Condensed', arial, sans;
    padding: 30px;
    margin: 50px auto;
    background: rgba(8, 149, 196, 0.75);
    position: relative;
    height: 90%;
    width: 50%;
    margin: 0 auto;
    /*overflow: hidden;*/
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}

.probate-progress-outer h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 26px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
    text-align: center;
}


.progress-container {
    background-color: gray;
    height: 20%;
    width: 90%;
    margin: auto;
    position: absolute;
    border-radius: 25px;
    padding: 10px;
    margin-top: 20px;

    /*background-color: gray;
    height: 60px;
    width: 530px;
    margin: auto;
    position: absolute;
    border-radius: 25px;
    padding: 10px;*/

}

.date-filed-progress {
    border-radius: 25px 0 0 25px;

}

.order-admitted-progress {


}

.first-10-progress {


}
.second-10-progress {
    

}

.thirty-day-progress {
   

}

.fourtyfive-day-progress {
    border-radius: 0 25px 25px 0;

}

.progress-bar {
    margin-left: 3px;
    border: black 1px solid;
    height: 100%;
    width: 16%;
    padding: 20px;
    margin-bottom: 35px;
    display: inline-block;
    background-color: lightgray;
}

.progress-inprogress {
    background-color: orange;
}

.progress-complete {
    background-color: green;
}

.progress-past-deadline {
    background-color: red;
}

.progress-definition {
    margin: 0 10px 0 10px;
    background-color: gray;
    height: 20%;
    width: 90%;
    margin: auto;
    position: absolute;
    border-radius: 25px;
    padding: 10px;
    margin-top: 20px;

}

.progress-definition li{
    display: inline;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
}

p {
margin: -40px 15px;
}