{% extends 'base.html' %}
{% block title %}Add Probate Case{% endblock %}
{% block content %}


<div class="probate-form">
  <h2>Add a Probate Case</h2>
  <form action='/add-probate' id="probate-add-form" method="POST">
 
    <label>Fullname of Decendent:</label>
    <input type="text" id="fullname" class="test" placeholder="Full Name" name="fullname_of_decendent" class="mainLoginInput">
    </input>
    <div id="error-fullname"></div>

    <label>Case Number:</label>
    <input type="text" id="case-number" placeholder="Case Number" name="case_number">
    </input>
    <div id="error-case-number"></div>

    <label>Date Filed:</label>
    <input type="date" id="date-filed" placeholder="Date Filed" name="date_filed">
    </input>
    <div id="error-date-filed"></div>

    <label>Date of Death:</label>
    <input type="date" id="date-of-death" placeholder="Date of Death" name="date_of_death">
    </input>
    <div id="error-date-of-death"></div>

    <label>Court Date:</label>
    <input type="date" id="court-date" placeholder="Court Date" name="court_date"></input>
    <div id="error-court-date"></div>

    <label>Order Admitting Date:</label>
    <input type="date" id="order-admitting-date" placeholder="Order Admitting Date" name="order_admitting_date">
    </input>
    <div id="error-order-admitting-date"></div>

    <input class="add-btn" id="case-add-btn" type="submit" value="Add Probate Case">
  </form>
</div>

{% endblock %}
