{% extends 'base.html' %}
{% block title %}Probate Progress{% endblock %}
{% block content %}

<div class="probate-progress-outer">
    <h2>Probate Progress</h2>
    <div class="progress-definition">
        <p>Date Filed  | Order Admitting Date | 1st 10 days|  2nd 10 Days | 30 Days | 45 Days</p>
    </div>
    <div class="progress-container">
        <div class="date-filed-progress progress-bar progress-complete">
        </div>
        <div class="order-admitted-progress progress-bar progress-inprogress">
        </div>
        <div class="first-10-progress progress-bar progress-past-deadline">
        </div>
        <div class="second-10-progress progress-bar">
        </div>
        <div class="thirty-day-progress progress-bar">
        </div>
        <div class="fourtyfive-day-progress progress-bar">
        </div>
    </div>



</div>


{% endblock %}