{% extends 'base.html' %}
{% block title %}Probate Progress{% endblock %}
{% block content %}

<div class="probate-progress-outer">
    <h2>Probate Progress</h2>
    <div class="progress-container">
        <div class="date-filed-progress progress-bar progress-complete">Date Filed
        </div>
        <div class="order-admitted-progress progress-bar progress-inprogress">Order Admitting Date
        </div>
        <div class="first-10-progress progress-bar progress-past-deadline">1st 10 days
        </div>
        <div class="second-10-progress progress-bar">2nd 10 Days
        </div>
        <div class="thirty-day-progress progress-bar">30 Days
        </div>
        <div class="fourtyfive-day-progress progress-bar">45 Days
        </div>
    </div>



</div>


{% endblock %}