{% extends 'base.html' %}
{% block title %}Schedule Planner{% endblock %}
{% block content %}


<div class="schedule-planner">
    <h2>Schedule Planner</h2>
        <div class="current-time">
            Today is: {{ now_central.strftime("%A, %m/%d/%y, %I:%M:%S %p") }}
        </div>

        <div class="schedule-container">
            <div class="thirty-days-ahead schedule-ahead">
                <h1>30 Days from now is:</h1>
            </div>
            <div class="fourtyfive-days-ahead schedule-ahead">
                <h1>45 Days from now is:</h1>
            </div>
        </div>
</div> 

{% endblock %}